/* This file contains our styling.  You can write comments like this one
   in CSS by start with a slash-asterisk and ending with one.  */

body {
	background:url(images/background.gif);
	background-size:100% 100%;
	/* Tell the image to fit over the entire X and Y dimensions... */
	background-repeat:no-repeat;
	/* Look - no-repeat */
}

.coolbox {
	background-color: yellow;
	height: 200px;
	border: 10px dashed blue;
	border-radius: 50px;
	font-size: 30;
	color: blue;
	text-align:center;
	padding: 20px;
}

.big-fonts {
	font-size: 90px;
	font-family: comic-sans;
	font-style: italic;
}

.text1 {
	color: gray;
}

.text2 {
	color: yellow;
}

.text3 {
	color: purple;
}
